# Task 1

# Question 1

In [1]:
def division(a,b):
    try:
        c=a/b
        return c
    except Exception as e:
        return e

In [3]:
division(5,1)

5.0

# Question 2

In [9]:
def Abc():
    a=["Americans","Indians"]
    b=["Play","Watch"]
    c=["Baseball","Cricket"]
    for i in a:
        for j in b:
            for k in c:
                 print(i+" "+ j + " " + k)

In [10]:
Abc()

Americans Play Baseball
Americans Play Cricket
Americans Watch Baseball
Americans Watch Cricket
Indians Play Baseball
Indians Play Cricket
Indians Watch Baseball
Indians Watch Cricket

# Task 2

# Question 1

In [38]:
def Mno(a,n):
    for i in a:
        for j in range(0,n):
            print(i**(n-j-1),end=",")
        print("\n")

In [39]:
Mno([1,2,3,5],3)

1,1,1,

4,2,1,

9,3,1,

25,5,1,